@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --fonte-padrao: 'Inter'

}


body{
    margin: 0px;
    padding: 0px;

    /*FunçãoDêgrade*/
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%) #303030;
    background-repeat: no-repeat;
}
#MenuSuperior{
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}
#MenuLinks{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}
#MenuSuperior div a:hover{
    color: var(--cinza-hover);
}
#MenuSuperior div a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}
#MenuSuperior button{
    margin-right: 5%;
    background-color: var(--azul-dnc);
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 4px 3px 6px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}


    /*Main section*/
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }

            header{
                color: white;
                font-family: var(--fonte-padrao);
            }

            header h1{
                font-size: 80px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 25px;
                text-align: center;
            }

            header h2{
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 150px;
            }
            header .invert{
                background-color: black;
                font-weight: bold;  
                padding: 3px;
            }



        /*Formulario*/
            form{
                color: white;
                font-family: var(--fonte-padrao);
                font-size: 30px;
                font-weight: 600;
                width: 600px;  /*largura do form*/
            }
            .FormGruop{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            form input{
                border-radius: 10px;
                height: 30px;
                border: 0px;
                font-size: 20px;
                padding: 10px;
                background-color:rgba(255, 255, 255, 0.9);
            }
            form label{
                margin: 12px 0px 12px 0px;
            }
            form input::placeholder{
                color: rgba(57, 57, 57, 0.5);
            }
            .CheckBoxItens label{
                font-size: 25px;
            }
            .CheckBoxItens{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            input[type="checkbox"]{
                transform: scale(1.7);
            }
            input[type="submit"]{
                background-color: rgba(12, 112, 242, 0.9);
                width: 100%; /*Largura*/
                height: 56px;
                font-size: 32px;
                color: white;
                font-family: var(--fonte-padrao);
                margin-top: 85px;
                box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
                cursor: pointer;
            }



            /*Footer*/
            footer{
                width: 100%;
                background-color: var(--azul-dnc);
                font-family: var(--fonte-padrao); 
                            
            }
            footer .line1{
                display: flex;
                justify-content: space-around; /*Para preencher toda a div*/
                align-items: center;
            }
            footer ul{
                list-style: none; /*tira os pontos das listas*/
                margin: 0px;
                padding: 0px;
                font-size: 25px;
            }
            footer nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 430px;
            }
            footer h5{
                text-align: center;
                color: white;
                font-weight: 800;
                font-size: 25px;
                background-color: var(--preto-dnc);
                border-radius: 7px;
                padding: 10px 10px 10px 10px;
                margin-bottom: 15px;
            }
            footer ul li{
                text-align: center;
                color: white;
                font-weight: 600;
                margin: 25px 0px 25px 0px;
            }
            footer ul li a{
                color: white;
                text-decoration: none;
            }
            footer .address{
                font-weight: 600;
                font-size: 18px;
                color: white;
                text-align: center;
            }
            footer .line2{
                font-family: var(--fonte-padrao);
                height: 40px;
                justify-content: space-around;
                text-align: center;
            }
            footer .line2 a{
                text-decoration: none;
                color: white;
                font-size: 25px;
                font-family: var(--fonte-padrao);
                font-weight: 600;
            }
            footer .line2 a:hover{
                color: var(--cinza-hover);
            }

@media screen and (max-width: 600px){

    /*menu superior*/
    #MenuSuperior{
        flex-direction: column;
        height: auto;
    }
    #MenuLinks{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    #MenuLinks a{
        display: flex;
        height: 50px;
        align-items: center;
    }
    #MenuSuperior button{
        width: 100%;
        margin: 0px;
    }

    /*section*/
    section h1{
        font-size: 40px;
    }
    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }
    form{
        width: 95%;
        font-size: 20px;
    }
    .CheckBoxItens label{
        font-size: 17px;
    }
    /*footer*/
    footer .line1{
        flex-direction: column;
    }
    footer .address{
        width: 95%;
        margin-bottom: 20px;
    }
    footer .line2{
        height: 100%;
    }
    footer .line2 a{
        font-size: 18px;
    }
}            

